In [13]:
import pandas as pd

# df_train

In [14]:
df_train = pd.read_csv('data/train/train.csv', header = 0)

In [15]:
df_train.head() # посмотрим на датасет

  first_active_month          card_id    ...     feature_3    target
0            2017-06  C_ID_92a2005557    ...             1 -0.820283
1            2017-01  C_ID_3d0044924f    ...             0  0.392913
2            2016-08  C_ID_d639edf6cd    ...             0  0.688056
3            2017-09  C_ID_186d6a6901    ...             0  0.142495
4            2017-11  C_ID_cdbd2c0db2    ...             0 -0.159749

[5 rows x 6 columns]

In [16]:
df_train.shape # размерность

(201917, 6)

# History_df

In [17]:
df_hist = pd.read_csv("data/train/historical_transactions.csv")
df_hist.head() # посмотрим датасет по транзакциям

  authorized_flag          card_id     ...       state_id subsector_id
0               Y  C_ID_4e6213e9bc     ...             16           37
1               Y  C_ID_4e6213e9bc     ...             16           16
2               Y  C_ID_4e6213e9bc     ...             16           37
3               Y  C_ID_4e6213e9bc     ...             16           34
4               Y  C_ID_4e6213e9bc     ...             16           37

[5 rows x 14 columns]

In [18]:
df_hist.shape # размерность данных по транзакциям

(29112361, 14)

In [19]:
gr_df = df_hist.groupby('card_id') # группируем по ID платежной карты

In [20]:
# считаем статистики для объединения с исходным датафреймом
s = gr_df.agg({'purchase_amount': ['min', 'max', 'mean', 'median', 'std', 'size', 'sum'], 'month_lag': ['min', 'mean', 'median', 'std']})

In [21]:
s.head() # посмотрим как выглядит получившееся

                purchase_amount              ...    month_lag
                            min       max    ...       median       std
card_id                                      ...
C_ID_00007093c1       -0.728876  1.507069    ...         -6.0  3.453114
C_ID_0001238066       -0.734887  0.768095    ...         -2.0  1.288980
C_ID_0001506ef0       -0.740491  1.493545    ...         -3.0  4.237500
C_ID_0001793786       -0.745405  4.554145    ...         -3.0  2.306373
C_ID_000183fdda       -0.737892  2.764788    ...         -2.0  1.895264

[5 rows x 11 columns]

In [22]:
tr_df = pd.merge(df_train, s, on="card_id", how="left") # соединям датасеты

/opt/conda/lib/python3.6/site-packages/pandas/core/reshape/merge.py:544: UserWarning: merging between different levels can give an unintended result (1 levels on the left, 2 on the right)
  warnings.warn(msg, UserWarning)

In [23]:
tr_df.to_csv('train_prepared.csv', header = True, index = None)