In [15]:
import pandas as pd
from tqdm import tqdm_notebook as tqdm

In [3]:
df = pd.read_csv('mrg_test.csv', header = 0)

In [4]:
df.head()

,first_active_month,card_id,feature_1,feature_2,feature_3,city_count,log2_transact_amount,merchant_count,mean,std,...,instal_4,instal_5,instal_6,instal_7,instal_8,instal_9,instal_10,instal_11,instal_12,instal_999
0,2017-04,C_ID_0ab67a22ab,3,3,1,3.0,1.584963,3.0,-0.592385,0.182843,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2017-01,C_ID_130fd0cbdd,2,3,0,2.0,3.169925,9.0,-0.660522,0.071147,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2017-08,C_ID_b709037bc5,5,1,1,2.0,1.000000,2.0,0.090069,1.151788,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,2017-12,C_ID_d27d835a9f,2,1,0,3.0,3.321928,10.0,-0.574367,0.073166,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,2015-12,C_ID_2b5e3df5c2,5,1,1,2.0,2.584963,6.0,2.010833,6.028671,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [7]:
#numerics = df.columns[6:] # for train set
numerics = df.columns[5:]
numerics

Index(['city_count', 'log2_transact_amount', 'merchant_count', 'mean', 'std',
       'median', 'amin', 'amax', 'sum', 'sqrt_transact_amount', 'sq_mean',
       'sq_std', 'sq_median', 'sq_amin', 'sq_amax', 'sq_sum', 'state_count',
       'cat_1_N', 'cat_1_Y', 'cat_2_1', 'cat_2_2', 'cat_2_3', 'cat_2_4',
       'cat_2_5', 'cat_3_A', 'cat_3_B', 'cat_3_C', 'instal_-1', 'instal_0',
       'instal_1', 'instal_2', 'instal_3', 'instal_4', 'instal_5', 'instal_6',
       'instal_7', 'instal_8', 'instal_9', 'instal_10', 'instal_11',
       'instal_12', 'instal_999'],
      dtype='object')

In [8]:
df_nums = df[numerics]

In [9]:
df_nums.head()

,city_count,log2_transact_amount,merchant_count,mean,std,median,amin,amax,sum,sqrt_transact_amount,...,instal_4,instal_5,instal_6,instal_7,instal_8,instal_9,instal_10,instal_11,instal_12,instal_999
0,3.0,1.584963,3.0,-0.592385,0.182843,-0.671775,-0.722114,-0.383266,-1.777156,1.732051,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2.0,3.169925,9.0,-0.660522,0.071147,-0.656749,-0.740897,-0.506484,-5.944698,3.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2.0,1.000000,2.0,0.090069,1.151788,0.090069,-0.724368,0.904506,0.180138,1.414214,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,3.0,3.321928,10.0,-0.574367,0.073166,-0.581391,-0.671775,-0.447880,-5.743674,3.162278,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,2.0,2.584963,6.0,2.010833,6.028671,-0.654495,-0.704082,14.279604,12.064997,2.449490,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [11]:
test = df_nums.iloc[:1000, :3]

In [17]:
test.head()

,city_count,log2_transact_amount,merchant_count,sq_city_count,city_count_with_log2_transact_amount,city_count_with_merchant_count,sq_log2_transact_amount,log2_transact_amount_with_merchant_count,sq_merchant_count
0,3.0,1.584963,3.0,9.0,4.754888,9.0,2.512106,4.754888,9.0
1,2.0,3.169925,9.0,4.0,6.339850,18.0,10.048425,28.529325,81.0
2,2.0,1.000000,2.0,4.0,2.000000,4.0,1.000000,2.000000,4.0
3,3.0,3.321928,10.0,9.0,9.965784,30.0,11.035206,33.219281,100.0
4,2.0,2.584963,6.0,4.0,5.169925,12.0,6.682031,15.509775,36.0

In [13]:
a = [1, 2, 3]
a.pop(0)
a

[2, 3]

In [114]:
def make_interact_bad(frame):
    '''Making pair interactions (multiply)  
       for every feature O(n^2)
       TESTED'''
    
    cols = list(frame.columns)
    for i, _ in enumerate(cols):
        for j, _ in enumerate(cols):
            new_name = ''
            if(cols[i] == cols[j]):
                new_name = 'sq_' + cols[i]
            else:
                new_name = cols[i] + '_with_' + cols[j]
            frame[new_name] = frame[cols[i]] * frame[cols[j]]

In [10]:
def make_interact(frame):
    '''Making pair interactions (multiply)  
       for every feature O(n * log(n))
       TESTED'''
    
    cols = list(frame.columns)
 
    pbar = tqdm(total = frame.shape[1])
    while(len(cols) > 0):
        cur = cols.pop(0)
        name = 'sq_' + cur
        frame[name] = frame[cur] * frame[cur] 
        
        for j, _ in enumerate(cols):
            new_name = cur + '_with_' + cols[j]
            frame[new_name] = frame[cur] * frame[cols[j]] 
        pbar.update(1)
    pbar.close()

In [113]:
%%time
make_interact_bad(test)

Wall time: 11 ms

In [16]:
%%time
make_interact(test)

HBox(children=(IntProgress(value=0, max=3), HTML(value='')))

Wall time: 135 ms

# TQDM

In [137]:
pbar = tqdm(total = 3)

HBox(children=(IntProgress(value=0, max=3), HTML(value='')))

In [142]:
pbar.update(1)

In [143]:
pbar.close()

# To DO

In [18]:
%%time
make_interact(df_nums)

HBox(children=(IntProgress(value=0, max=42), HTML(value='')))

c:\python36\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if sys.path[0] == '':
c:\python36\lib\site-packages\ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

Wall time: 12.8 s

In [19]:
df_nums.shape

(123623, 939)

In [ ]:
df_nums.to_csv('mrg_test_interact.csv', header = True, index = None)

In [ ]:
df_nums.info()